{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<div class="d-flex p-5">
  <form>
    <button type="button submit" name="filter" value="all" class="btn btn-info mx-3">ALL</button>
  </form>
  {% for category in categories %}
    <form>
      <button type="button submit" name="filter" value={{category.id}} class="btn btn-info mx-3">{{category.name}}</button>
    </form>
  {% endfor %}
</div>

<div class="container">
  <div class="row">
    {% for product in products %}
        <div class="card text-white bg-dark mb-3 col-sm-4 m-auto" style="max-width: 20rem;">
            <div class="card-header">{{ product.category }}</div>
            <div class="card-body">
                <img src={{ product.image }} alt={{ product.name }} class="w-100"/>
                <h4 class="card-title my-3">{{ product.name }}</h4>
                <p class="card-text">Price : {{ product.price }} €</p>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{path('app_cart_add_Products', {'id' : product.id} )}}">
                  <button class="btn btn-success">+ Add to cart</button>
                </a>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
